python_scripts/bash_scripts
python_scripts/network_analysis
python_scripts/network_impainting
python_scripts/python_script
python_scripts/runs

python_scripts/simplifications/python_script
python_scripts/simplifications/runs
python_scripts/simplifications/dmk_folder.py
python_scripts/simplifications/folder_run.sh
python_scripts/simplifications/location_repository.txt
python_scripts/simplifications/muffa.ctrl
python_scripts/simplifications/read.txt
python_scripts/simplifications/READ.MD

otp_utilities/geometry
otp_utilities/globals
otp_utilities/linear_algebra
otp_utilities/muffe_p1p0
otp_utilities/muffe_sparse_optimization
otp_utilities/p1galerkin
otp_utilities/spectral
otp_utilities/vtk