python_scripts/bash_scripts
python_scripts/network_analysis
python_scripts/network_impainting
python_scripts/python_script
python_scripts/runs
python_scripts/__pycache__
python_scripts/outputs_vtk.txt
python_scripts/outputs_gg.txt
python_scripts/outputs_dmk_c.txt
python_scripts/inputs.ctrl
python_scripts/muffa.ctrl

otp_utilities/geometry
otp_utilities/globals
otp_utilities/linear_algebra
otp_utilities/muffe_p1p0
otp_utilities/p1galerkin
otp_utilities/spectral
otp_utilities/vtk
otp_utilities/muffe_sparse_optimization

results/

